[submodule "reedsolomon.js"]
	path = reedsolomon.js
	url = https://github.com/cho45/reedsolomon.js

[submodule "JSON-js"]
	path = JSON-js
	url = https://github.com/douglascrockford/JSON-js
[submodule "extension/chrome/JSON-js"]
	path = extension/chrome/JSON-js
	url = https://github.com/douglascrockford/JSON-js
[submodule "extension/safari/piupiu.safariextension/JSON-js"]
	path = extension/safari/piupiu.safariextension/JSON-js
	url = https://github.com/douglascrockford/JSON-js
